.Book {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
.Book figure,
h5 {
  margin: 0 0;
}

.CoverCol {
  width: 95%;
  border: solid 1px #64868F;
  padding: 2px;
}

.Image {
  max-width: 500px;
  height: auto;
}

.Container {
  min-height: 343px;
}

.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 27px;
  text-align: left;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #64868F;
}

.BottomBorder {
  border-bottom: 1px solid #64868F;
}

span.Title {
  color: #E8AB4F;
}

span.Title:hover {
  text-decoration: underline;
}

span.Author {
  color: #BB7058;
}
