.Book {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
.Book figure,
h5 {
  margin: 0 0;
}

.CoverCol {
  width: 95%;
  border: solid 1px #64868F;
  padding: 2px;
}

.Image {
  width: auto;
  max-height: 400px;
}

.Container {
  min-height: 343px;
}

.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 27px;
  text-align: left;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #64868F;
}

.BottomBorder {
  border-bottom: 1px solid #64868F;
}

span.Title {
  color: #E8AB4F;
}

span.Title:hover {
  text-decoration: underline;
}

span.Author {
  color: #BB7058;
}

.BookInfoItem {
	margin-bottom: 20px;
	display: block;
	clear: both;
}

.BookInfoItem .Key,
.BookInfoItem .Value {
	padding-right: 8px;
	display: inline-block;
}

.BookInfoItem .Key p,
.BookInfoItem .Value p {
	margin: 0;
}

.BookInfoItem .Key {
	width: 30%;
	margin-right: 21px;
	padding-top: 2px;
	vertical-align: centre;
}

.BookInfoItem .Key p {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #64868F;
}

.BookInfoItem .Value {
	position: relative;
	width: 65%;
}

.BookInfoItem .Value p {
  text-align: left;
}

.BookInfoItem .BlurbSeriesKey p {
  padding-right: 8px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #64868F;
}

.BookInfoItem .BlurbSeriesValue {
  position: relative;
  width: 95%;
}

.BookInfoItem .BlurbSeriesValue p {
  text-align: left
}