.ProfileImage {
    object-fit: cover;
    height: 120px;
    width: 120px;
    margin: 4px;
}

.MidCol {
  border-left: 1px solid #64868F;
  border-right: 1px solid #64868F;
}

.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #64868F;
}
  
@media screen and (max-width: 991px) {
.ProfileImage {
  width: 250px;
  height: 250px;
}
}

