.Label {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #64868F;
}

.ImageDiv {
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 100%;
}

.Image {
    max-height: 400px;
    object-fit: contain;
  }