.Container {
    min-height: 343px;
}

.Header {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #E8AB4F;
}